@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #8491a0 21.43%,
    #a5a3a7 50.63%,
    #a3533e 100%,
    #694f3a 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(163, 83, 62, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #694f3a 21.43%,
    #a3533e 50.63%,
    #a5a3a7 100%,
    #8491a0 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #694f3a 21.43%,
    #a3533e 50.63%,
    #a5a3a7 100%,
    #8491a0 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white;
    }

    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }

    .h3 {
        @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }

    .btn {
        @apply rounded-full font-primary text-black font-medium;
    }

    .btn-sm {
        @apply h-[48px] px-6 text-sm;
    }

    .btn-lg {
        @apply h-[56px] px-10 text-base;
    }

    .btn-link {
        @apply text-base;
    }

    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#8491a0] to-[#a3533e] font-bold font-primary hover:from-[#694f3a] hover:to-[#a5a3a7];
    }

    .section {
        @apply py-8 lg:py-24 lg:h-screen flex items-center;
        min-height: 100vh; /* Ensure each section takes full screen height */
        scroll-snap-align: start; /* Optional for smooth scrolling */
        position: relative; /* Ensures proper stacking and spacing */
    }

    html {
        scroll-behavior: smooth; /*for smoother scrolling*/
    }
}